bcrypt
blinker
click
colorama
Deprecated
Flask
Flask-Bcrypt
Flask-Limiter
Flask-Login
importlib_resources
itsdangerous
Jinja2
limits
markdown-it-py
MarkupSafe
mdurl
ordered-set
packaging
Pygments
PyPDF2
rich
typing_extensions
Werkzeug
wrapt
